<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465388501088-gf24qd15i0klfodltqt72oa095efcjqr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465388501088-gf24qd15i0klfodltqt72oa095efcjqr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>465388501088-4jafrnnijn9rssfhbqo0pbsd1b3l3igh.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB1tM37ODNnChN3zprnAQv9KWESBZWw8aw</string>
	<key>GCM_SENDER_ID</key>
	<string>465388501088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ml.colabo.WeGoGym.dev</string>
	<key>PROJECT_ID</key>
	<string>wegogym-687a7</string>
	<key>STORAGE_BUCKET</key>
	<string>wegogym-687a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:465388501088:ios:9be59c5e391b0161b42b05</string>
</dict>
</plist>
