<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>465388501088-ggbd08jgpi0lpr80tamupukdhesss5of.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.465388501088-ggbd08jgpi0lpr80tamupukdhesss5of</string>
	<key>API_KEY</key>
	<string>AIzaSyDplXqwdNfqud6VDZ1YP5ljDXRt6uUW-Sg</string>
	<key>GCM_SENDER_ID</key>
	<string>465388501088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>WeGoGym.ios</string>
	<key>PROJECT_ID</key>
	<string>wegogym-687a7</string>
	<key>STORAGE_BUCKET</key>
	<string>wegogym-687a7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:465388501088:ios:841ad3753d7c4443b42b05</string>
</dict>
</plist>